:root {
    --primary-color: #fece69;
}

/*End variables*/
/* The Global Rules for the css */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    word-spacing: 4px;
    line-height: 100px;
    background: #e2eaed;
    background: url(../Images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

@media (min-width: 992px) {
    body {
        background-image: url(../Images/cardBackground.png);
    }
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Tiny phones */
@media (max-width: 400px) {
    .container {
        max-width: 300px;
    }
}

/* Very Small phones */
@media (max-width:768px) {
    .container {
        width: 400px;
    }
}

/* Small phones */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Large phones */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Very Large phones */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    height: 40px;
    background-color: rgba(26, 25, 34, 0.158);
    box-shadow: 0 3px 18px 0 rgba(36, 34, 49, 0.315);
    font-size: 18px;
    font-weight: 700;
    backdrop-filter: blur(7px);
}

nav .others {
    flex-basis: 70%;
}

nav .header {
    color: var(--primary-color);
    font-size: 120%;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px;
}

nav span {
    color: var(--primary-color);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;

}

@media (max-width:540px) {
    nav {
        padding: 10px;
    }

    nav .others {
        flex-basis: unset;
    }

    nav ul a {
        display: none;
    }

    nav .header {
        padding: 7px;
    }
}

#Logo {
    padding-left: 5px;
}

#Menu {
    position: relative;
}

#Menu::before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: gray;
    position: absolute;
    left: -20px;
}

/* Nav finished */


section {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    direction: rtl;
    margin-top: 50px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 30px;
    line-height: 1.7em;
    font-size: 25px;
    font-weight: 700;
}

section p {
    margin-top: 15px;
}

/* CSS */
section button {
    background: linear-gradient(92.88deg, #093aec21 9.16%, #170b6638 43.89%, #2b2b3d2a 64.72%);
    border: none;
    border-left: 3px solid rgba(27, 26, 26, 0.142);
    border-bottom: 3px solid rgba(27, 26, 26, 0.142);
    border-radius: 15px;
    color: var(--primary-color);
    cursor: pointer;
    flex-shrink: 0;
    font-family: serif;
    font-size: 25px;
    font-weight: 700;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 100%;
    margin-right: 20px;
    backdrop-filter: blur(20px);
    position: relative;
}

section button:hover {
    box-shadow: rgba(80, 63, 205, 0.281) 0 1px 30px;
    transition-duration: .1s;
}

section button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(150, 126, 50, 0.088) 0%, transparent 70%);
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    z-index: -1;
}

@media (min-width: 768px) {
    section button {
        padding: 0 2.6rem;
    }
}


@media (max-width: 768px) {
    section {
        justify-content: center;
        flex-direction: column;
    }

    section button {
        width: 100%;
        height: 70px;
        margin: 20px 0 0 0;
    }

    section button::before {
        width: 70px;
        height: 70px;
        left: calc(50% - 35px);
        top: calc(50% - 35px);
    }

    nav a {
        padding: 7px;
        margin-left: 20px;
    }
}

span {
    color: rgba(236, 163, 28, 0.834);
}

h3 {
    color: #fece69;
}

/* End main page */
/* start footer */
footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 800px;
    background: #604a9b;
    color: white;
    margin: 70px 0;
    border-top: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
}

/* End footer */
@media (max-width: 400px) {
    section {
        font-size: 15px;
    }

    nav {
        font-size: 14px;
    }

    nav a {
        padding: 7px;
        margin-left: 20px;
    }
}

.zikr {
    position: relative;
    background: rgba(10, 6, 61, 0.144);
    backdrop-filter: blur(20px);
    border: none;
    border-left: 2px solid rgba(228, 128, 13, 0.247);
    border-bottom: 2px solid rgba(228, 128, 13, 0.247);
    box-shadow: -5px 10px 20px 1px rgba(0, 0, 0, 0.418);
}

.zikr::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 15px;
    left: 20px;
    background: linear-gradient(130deg, #f6c55b6c, #ffd87785);
    box-shadow: 0 0 10px rgba(246, 198, 91, 0.6);
    border-radius: 50%;
}

.zikr::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    bottom: 15px;
    right: 20px;
    background: linear-gradient(130deg, #f6c55b6c, #ffd87785);
    box-shadow: 0 0 10px rgba(246, 198, 91, 0.6);
    border-radius: 50%;
}
